{# templates/contact/contact.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }

    .construct {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        width: 100vw;
    }
</style>
<section>
    <div class="example-wrapper">
        {{ form(message_form) }}
    </div>
    <img class="construct" src="/images/under-construction.gif" />
    
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
</section>

{% endblock %}