{# templates/footer.html.twig #}

<style>
    h1 {
        text-align: center;
        color: red;
        height: 2.5rem;
    }
    
    footer {
        margin: auto;
        height: 7vh;
        width: 98vw;
        border: 1px dashed red;
        border-radius: 5px;}
</style>

<footer>
    <h1>TEST FOOTER</h1>
</footer>