{# templates/header.html.twig #}

<style>
    h1 {
        text-align: center;
        color: red;
        height: 2.5rem;
    }
    
    header {
        margin: auto;
        height: 10vh;
        width: 96vw;
        border: 1px dashed red;
        border-radius: 5px;}
</style>

<header>
    <h1>TEST HEADER</h1>
    <nav> 
        <ul>
            <li><a href="">Accueil</a></li> 
            <li><a href="">Génèse de l'Aïkido</a></li> 
            <li><a href="">Pratiquer l'Aïkido</a></li> 
            <li><a href="">Les grades Aïkido</a></li> 
            <li><a href="">Contact</a></li> 
        </ul>
</nav>
</header>